fastcam/fastcam/MP-2022-34-53/shot_192973/ABS_cali_raw_data_for_D2.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/ABS_cali_raw_data_for_D2.png
fastcam/fastcam/MP-2022-34-53/shot_192973/ABS_rad_coeff_for_D2.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/ABS_rad_coeff_for_D2.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_01_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_01_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_02_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_02_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_03_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_03_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_04_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_04_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_05_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_05_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_06_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_06_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_07_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_07_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_08_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_08_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_09_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_09_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_10_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_10_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_11_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_11_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_12_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance_ave_on_500_frm_cycl_12_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_Radiance.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_01_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_01_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_02_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_02_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_03_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_03_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_04_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_04_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_05_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_05_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_06_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_06_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_07_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_07_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_08_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_08_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_09_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_09_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_10_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_10_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_11_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_11_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_12_of_12.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_RT_Radiance_ave_on_500_frm_cycl_12_of_12.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_SC_Radiance.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_ABScal_SC_Radiance.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_radiance_D2.eps
fastcam/fastcam/MP-2022-34-53/shot_192973/Ave_Ima_radiance_D2.png
fastcam/fastcam/MP-2022-34-53/shot_192973/Radiance_time_averaged_shot_192973_cam_24085_dt_sample_20_ms_dt_wind_20_ms.pkl
